*{
    padding: 0;
    margin: 0;
    a{
        text-decoration: none;
    }
}
body{
    .list-unstyled{
        a{
            color: black;
            text-decoration: underline;

        }

        
    }
}