* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: start;

  .form {
    position: absolute;
    left: 50%;
    margin-top: 200px;
    transform: translate(-50%, -50%);
    background-color: #f1e7ba;
    width: 250px;
    height: 160px;
    padding: 10px;

    .lable {
      color: white;
      padding: 5px;
      font-size: smaller;
    }
    .bar{
        width: 220px;
        padding: 5px;
        margin: 2px;
        font-size:xx-small;
        border: none;
        border-radius: 2px;
    }
    .button{
        background-color:#e84420;
        color: white;
        border-radius:20px;
        border: none;
        width: 100%;
        padding: 4px;
        margin-top: 12px;
    }
  }
}
