* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  h1#title {
    text-align: center;
    margin-top: 140px;
    text-shadow: 3px 6px 3px rgb(152, 162, 115);
  }
  .container {
    text-align: center;
    .para {
      display: inline-block;
      padding: 15px 5px 10px 5px;
      box-shadow: 8px 6px 3px rgb(152, 162, 115);
      border: 2px solid black;
      width: 470px;
      height: 60px;
      margin: 20px;
    }
  }
  .logo {
    text-align: center;
    .img {
      border: 2px solid white;
      box-shadow: 8px 6px 3px rgb(152, 162, 115);
      width: 430px;
      height: 240px;
      display: inline-block;
    }
  }
}
